@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Epilogue", sans-serif;
}

p,
input {
  font-family: "Quicksand", sans-serif;
}
