.pageItem {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 16px;
  margin-top: 15px;
  margin-left: 10px;
}

.pageItem__container {
  background: rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
  border: 1px solid rgba(0, 0, 0, 0.03);
  width: 94%;
  margin-bottom: 2%;
  min-height: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pageItem__info > h5 {
  color: white;
  font-size: 18px;
  margin-left: 10px;
  text-transform: uppercase;
  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.pageItem__addInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-top: 2px;
  margin-left: 8px;
}

.pageItem__addInfo > p {
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-left: 5px;
}

.pageItem__play > svg {
  margin-right: 8px;
  font-size: 32px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .pageItem {
    margin-left: 0;
  }
}
